.main {
  padding: 1rem;
}
.main .navContainer .navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .navContainer .navWrapper div {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
}
.main .navContainer .navWrapper div .logoText1 {
  font-size: 2.4rem;
  margin-right: -4px;
  margin-top: -5px;
}
.main .navContainer .navWrapper div .logoText2 {
  font-size: 1.4rem;
}
.main .navContainer .navWrapper .menuIcon {
  font-size: 2rem;
}