.main{
    padding: 1rem;
    .navContainer{
        .navWrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
                font-size: 1.4rem;
                font-weight:700;
                margin: 0;
                padding: 0;
                color: var(--primary-color);

                .logoText1{
                    font-size: 2.4rem;
                    margin-right: -4px;
                    margin-top: -5px;
                }
                .logoText2{
                    font-size: 1.4rem;
                }
            }
            .menuIcon{
               font-size: 2rem;
            }
        }
    }
}