.section{
    margin-top: 5rem;
}

.main{
    position: relative;
    overflow: hidden;
   
    .navContainer{
        background-color: transparent;
        position: relative;
        padding: 1rem;
        .navWrapper{
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            width: 100%;
            z-index: 100;
            top: 0;
            left: 0;
            padding: 1rem;
            height: 60px;
            .logoText{
                font-size: 1.4rem;
                font-weight:800;
                margin: 0;
                padding: 0;
                color: var(--primary-color);

                .logoText1{
                    font-size: 1.4rem;
                }
                .logoText2{
                    font-size: 1.4rem;
                }
            }
            .menuIcon{
               font-size: 2rem;
            }
            .navMenu{
                height: 100vh;
                width: 80%;
                position: fixed;
                top: 0;
                right: -100%;
                z-index: 10;
                background: rgba(255, 255, 255, 0.132);
                -webkit-backdrop-filter: blur(42px);
                backdrop-filter: blur(42px);
                border-left: 1px solid rgba(255, 255, 255, 0.227);
                transition: right 0.3s;
                .closeIcon{
                    position: absolute;
                    right: 1.4rem;
                    top: 1.2rem;
                    font-size: 1.8rem;
                }
                .navMenuList{
                    display: flex;
                    flex-direction: column;
                    gap: 2.5rem;
                    padding-top: 6rem ;
                    padding-bottom: 4rem ;
                    padding-left: 3rem ;
                    .navItem{
                        width: max-content;
                    }
                    .navItem:hover{
                        color: var(--primary-color-dark);
                        transition: 0.3s;
                    }
                    .navRegistration{
                        padding: 1rem 1.5rem;
                        width: max-content;
                        font-weight: 600;
                        background-color: white;
                        color: black;
                        transition: 0.3s;
                    }
                    .navRegistration:hover{
                        background-color: var(--primary-color);
                        color: white;
                        box-shadow: rgba(236, 236, 236, 0.853) 0px 8px 24px;
                    }
                }
            }
        }
    }
    // Header
    .header{
        position: relative;
        width: 100%;
        .headerWrapper{
            padding: 1rem;
            padding-top: 9rem;
            padding-bottom: 0rem;
            .heading{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .heading1{
                    color: transparent;
                    font-size: 2.2rem;
                    text-transform: uppercase;
                    -webkit-text-stroke: 1px white;
                    margin: auto;
                    font-weight: 800;
                    
                }
                .heading2{
                    font-size: 2.2rem;
                    text-transform: uppercase;
                    margin: auto;
                    font-weight: 800;
                }
            }
            .subheading{
                font-size: 14px;
                color: rgba(255, 255, 255, 0.901);
                font-weight: 400;
                margin-top: 1rem;
                text-align: center;
            }
            .headerBtn{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                padding: 1rem 1.5rem;
                margin-left: auto;
                margin-right: auto;
                margin-top: 3rem;
                font-size: 17px;
                font-weight: 600;
                background-color: var(--primary-color);
                color: white;
                border: 2px solid var(--primary-color-light);
                outline: none;

                .headerArrowIcon{
                    font-size: 1.2rem;
                    font-weight: 800;
                    transition: transform 0.3s;
                }
            }
            .headerBtn:hover{
                cursor: pointer;
            }
            .headerBtn:hover .headerArrowIcon{
                transform: translateX(4px);
                
            }
            .headerBottom{
                .headerImgWrapper{
                    margin-top: 6.15rem;
                    position: relative;
                    .headerImg{
                        z-index: 1;
                        position: absolute;
                        bottom: 0;
                    }
                }
                .headerBg{
                    box-sizing: border-box;
                    background-color: var(--primary-color);
                    position: absolute;
                    bottom: 0.3rem;
                    right: 0;
                    height: 30vh;
                    width: 100%;
                    clip-path: polygon(100% 0, 0 100%, 100% 100%);
                }
            }
        }
    }
    // Companies logos
    .logos{
        .logosWrapper{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            justify-items: center;

            .logoImg{
                
            }
        }
    }

    // Our programs
    .programs{
        padding: 1rem;
        .programsWrapper{
            .programsHeading{
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                justify-content: center;
                align-items: center;
                h4{
                    font-family: var(--secondary-font);
                    color: var(--primary-color);
                    margin: 0;
                    padding: 0;
                    font-size: 1.3rem;
                    margin-bottom: 0.5rem;
                    transform: rotate(-3deg);
                }
                h2{
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 1.6rem;
                    .mainHeading1{
                        -webkit-text-stroke: 1px white;
                        color: transparent;
                    }

                }
            }
            .programsCardsContainer{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                .programsImgContainer{
                    background-color: #ffffffad;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .programsCard{
                    margin-top: 2rem;
                    background-color: var(--secondary-black-light);
                    padding: 1rem;
                    width: 60%;
                    max-width: fit-content;
                    transition: 0.3s;
                    position: relative;
                    height: 245px;

                    h5{
                        font-size: 18px;
                        font-weight: 800;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                    }
                    p{
                        font-size: 14px;
                        color:  #ffffffde;
                    }
                    .programArrowIcon{
                        position: absolute;
                        bottom: 1rem;
                        right: 1.5rem;
                        transition: 0.3s;
                    }
                }
                .programsCard:hover{
                    background-color: var(--primary-color-light);
                }
                .programsCard:hover .programArrowIcon{
                    transform: translateX(4px);
                }
                .programsCard1{
                    background-color: var(--primary-color-light);
                }
            }
        }
    }
    // Why Choose Us
    .chooseUs{
        padding: 1rem;
        .chooseUsWrapper{
            .programsHeading{
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                justify-content: center;
                align-items: center;
                h4{
                    font-family: var(--secondary-font);
                    color: var(--primary-color);
                    margin: 0;
                    padding: 0;
                    font-size: 1.3rem;
                    margin-bottom: 0.5rem;
                    transform: rotate(-3deg);
                }
                h2{
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 1.6rem;
                    .mainHeading1{
                        -webkit-text-stroke: 1px white;
                        color: transparent;
                    }
                }
            }
            .chooseUsPara{
                font-size: 14px;
                color: #ffffffde;
                text-align: center;
                margin-top: 2rem;
            }
            .chooseUsStats{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                align-content: center;
                justify-content: center;
                margin-top: 4rem;
                gap: 2rem;
                .csStatsCard{
                    .csStatsCardWrapper{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 0.4rem;
                        h5{
                            font-family: var(--secondary-font);
                            font-size: 1.5rem;
                            margin: 0;
                        }
                        p{
                            font-size: 12px;
                            color:#ffffffc5;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}